<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="row gx-4 gx-lg-5 align-items-center justify-content-center my-5 mx-0 px-0 text-light-gray">
  <div class="col-lg-4 text-center">
      <img class="img-fluid rounded w-75 w-lg-50" src="/images/projetos.png" alt="..." />
  </div>

  <div class="col-lg-4 px-4 text-justify">
      <h2 class="font-weight-light">Principais Projetos</h2>
      <p>
          Os projetos apresentados a seguir foram desenvolvidos ao longo do curso de Análise e Desenvolvimento de Sistemas na FATEC, como parte das atividades práticas das disciplinas. Cada um deles teve como objetivo aplicar os conceitos teóricos abordados em sala de aula por meio da construção de soluções funcionais utilizando diferentes linguagens, ferramentas e metodologias.
      </p>
  </div>
</div>

<div class="d-flex justify-content-center">
<div class="col-md-8 row gx-4 gx-lg-5 justify-content-center text-light-gray">
    <% if (projetos.length > 0) { %>
      <% projetos.forEach(projeto => { %>
        <div class="col-md-4 mb-4">
          <div class="card custom-card h-100">
            <div class="card-body">
              <h4 class="card-title"><%= projeto.titulo %></h4>
              <p class="card-text"><%= projeto.descricao %></p>
              <% if (projeto.imagem_url) { %>
                <img src="<%= projeto.imagem_url %>" class="img-fluid mt-3 rounded" alt="Imagem do Projeto">
              <% } %>
            </div>
            <div class="card-footer">
              <% if (projeto.link) { %>
                <a class="btn btn-sm text-light-gray" href="<%= projeto.link %>" target="_blank">Saiba Mais</a>
              <% } %>
            </div>
          </div>
        </div>
      <% }) %>
    <% } else { %>
      <p class="text-center">Nenhum projeto cadastrado ainda.</p>
    <% } %>
</div>
</div>

<%- include('partials/footer') %>